/* Staff pagina flex layout */
.staff-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Cards worden in het midden */
    gap: 20px;
    margin-top: 20px;
}

.staff-card {
    background:#222;
    border-radius:10px;
    width:200px; /* vaste breedte voor staff cards */
    padding:15px;
    text-align:center;
    transition:0.3s;
}

.staff-card img {
    width:100px;
    height:100px;
    border-radius:50%;
    border:2px solid red;
    margin-bottom:10px;
}

.staff-card:hover {
    transform:translateY(-5px);
    box-shadow:0 0 10px red;
}
